body {
    width: 1000px;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}
    .banner {
        width: 910px;
        height: 160px;
        border: 1px solid;
        display: flex;
        margin: auto;
        margin-left: 1px;
    }
    .menu-left{
        width: 680px;
        height: 400px;
        border: 1px solid;
        margin-top: 10px;
        float: left;
    }
    .menu-right{
        height: 400px;
        width: 220px;
        margin-left: 10px;
        border: 1px solid;
        margin-top: 10px;
        float: left;
    }
    .imgleft {
        width: 250px;
        height: 200px;
    }

    img {
        margin: auto;
        float: left;
        border: 1px solid aqua;
        width: 120px;
        height: 90px;
        border-radius: 3px;
    }
   
    ul {
        float: left;
        line-height: 40px;
    }
    h4{
        color: red;
        margin-left: 3%;
         clear: left;
        display: block;
    }
    /*  css noi dung tr */
    .footer{
        height: 100px;
        width: 910px;
        border: 1px solid;
        margin-top: 10px;
        float: left;
        display: flex;
    
    }
    
    .content{
        box-sizing: border-box;
    }
    .lienket{
        background-color: gray;
        color: white;
        width: 100%;
        height: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
    }
    #p{
        margin-top: top;
       }